.signup-container {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
}